.sidebarWrapper {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 20px;

  @media only screen and (min-width: 53em) {
    display: flex;
    min-width: 300px;
  }

  @media only screen and (min-width: 56em) {
    min-width: 350px;
  }
}

.downloadButton {
  background-color: var(--pane-bg);
  width: 100%;
  display: flex;
  gap: 8px;
  border: none;
  position: relative;
}

.loadingButton {
  background-color: var(--pane-text);
  opacity: 0.5;
}

.loadingButtonBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 0;
}

.sidebarTitleContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
}
